.forum {
  display: block;
}

.forum__actions {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 20px;
}

.add-post {
  border: 0;
  outline: 0;
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s all;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.35);
  font-family: inherit;
}

.add-post:hover {
  /* transition: 0.2s all; */
  transform: translateY(-2px);
}

.add-post:active {
  /* transition: 0.2s all; */
  transform: translateY(0px);
}

.forum__tags {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.tag-btn {
  padding: 4px 12px;
  border: 0;
  outline: 0;
  color: #fff;
  border-radius: 100px;
  background-color: #535353;
  font-size: 18px;
  cursor: pointer;
  font-family: inherit;
}

.forum__category-title {
  font-size: 24px;
  padding: 20px;
  margin-bottom: 20px;
}

.forum__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__item {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
}

.list__item:nth-child(odd) {
  outline: 2px solid #000;
}

.list__item > div {
  padding: 10px;
  border-bottom: 1px solid #000;
}

.list__item > div:last-child {
  border-bottom: none;
}

.active-filter {
  outline: 3px solid #535353;
  color: rgb(245, 160, 245);
}

input,
textarea {
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #000;
  outline-color: transparent;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
}

textarea {
  resize: none;
  height: auto;
}

input:focus,
textarea:focus {
  outline: 2px solid skyblue;
}

.form .options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
}
